@import url('fontawesome.min.css');
.container {
    width: 100%
}
@media (min-width: 576px) {
    .container {
        max-width: 576px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 992px
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1400px
    }
}